.footer-container {
    background-color: var(--dark);
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: #fff;
}

.footer-subscription-heading {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
}

.footer-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
}

.input-areas {
    width: 100%;
}

.footer-input {
    padding: 8px 20px;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
}

.btn-subscribe {
    background-color: var(--primary);
    color: #fff;
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid var(--primary);
}

.btn-subscribe:hover {
    background-color: var(--primary-hover);
    transition: 0.3s ease-out;
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items h2 {
    margin-bottom: 16px;
    color: #fff;
    font-size: 1.1rem;
}

.footer-link-items a {
    color: #bdbdbd;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    transition: 0.3s ease-out;
}

.footer-link-items a:hover {
    color: var(--primary);
}

/* Social Media */
.social-media {
    max-width: 1000px;
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.social-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.website-rights {
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
}

.social-icon-link {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.3s;
}

.social-icon-link:hover {
    opacity: 1;
    color: var(--primary);
}

@media screen and (max-width: 820px) {
    .footer-links {
        padding-top: 2rem;
    }

    .footer-input {
        width: 100%;
    }

    .footer-link-wrapper {
        flex-direction: column;
    }

    .social-media-wrap {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .footer-link-items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}